        <!-- Javascript -->
        <script src="/javascripts/bootstrap.min.js"></script>

        <footer class="alert alert-info">
            &copy: Boshen - Lab4
        </footer>
    </body>
</html>