<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <!-- css -->
        <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/boshen">About Me</a></li>
                <li><a href="/rich">Rich</a></li>
                <li><a href="/baisen">Baisen</a></li>
                <li><a href="/david">David</a></li>
            </ul>
        </nav>